html{
  box-sizing: border-box;
 
}
body{
  margin: 0px;
  padding: 0px;
  background: linear-gradient(to left, rgb(0, 0, 0), rgb(128, 128, 128));
}
ul{
  padding: 0px;
}

header {
  background-color: rgb(51, 51, 51);
  margin-left: 5px;
  margin-right: 2px;
  padding: 0%;

}
header ul li a{
  text-decoration: none;
  color: white;
}
header ul li{
  display: inline-block;
  width: fit-content;
  margin: 0px;
  height: 100%;
  padding: 20px;
}

.current{
  background-color: lightgrey ;
}
footer {
 text-align: center;
  padding: 10px;
  background-color: rgb(51, 51, 51);
  color: white;
  margin-left: 5px;
  
}
.main-container{
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 82.4vh;
}
.main-content{
  display: inline-block;
  position: relative;
  text-align: center;
  background-color: white;
  width: 300px;
  height: fit-content;
  box-shadow: -2px 0px 25px -10px rgba(0,0,0,0.75);
}
form{
  display: inline-block;
  position: relative;
  position: center;
  justify-content: center;
  justify-items: center;
}
#top {
width: 80%;
height: 30%;
margin: 20px;
margin-bottom: 0px;
padding-top:20px;
}
#top h1{
  text-align: center;
  
}
#btm {
  width: 80%;
  height: 16.5rem;
  margin:0px 30px 45px 30px;
 box-shadow: -2px 0px 25px -10px rgba(0,0,0,0.75);
}
#quote, #btm-quote{
  text-align: center;
  
}
#quote{
  font-size: medium;
  padding-top: 80px;
 
}
#btm-quote{
  opacity: 100%;
  font-size: medium;
  font-weight: 400;
  margin: 0 1rem;
}

input{
  width: 79%;
  height: 50px;
  margin: 10%;
  margin-top: 20%;
  background-color: rgb(232, 230, 230);
  opacity: 0.8;
  border: none;
  
}

#password, #cp{
  margin-top: -5%;
}
#loginbtn {
  width: 80%;
  height: 50px;
  margin-left: 10%;
  margin-top: 0px;
  color: aliceblue;
  background-color: black;
}
#login{
  margin-top: 20px;
  margin-bottom: 20px;
}
div p{
  margin: 5%;
  margin-left: 60px;
  font-size: 0.8rem;
  margin-bottom: 40px;
  color: black ;
  margin-right: 0px;
  opacity: 0.5;
}
div p, #registerlink{
  display: inline-block;
}
#registerlink {
  text-decoration: none;
}
#select{
  box-shadow:intset 2px 0px 3px 10px rgba(106, 104, 104, 0.75), 1px 1px 20px 1px lightgrey;
  height: 1.5rem;
  border-color: rgb(187, 192, 197);
  border-radius: 3px;
  background-color: rgba(218, 220, 221, 0.5);
}
#type, #menu{
  display: inline-block;
  flex-direction: row;
  margin-left: 30%;
  margin: 0;
}
#tc{
  text-align: center;
  margin-bottom: -1rem;
}

label{
  text-align: center;
  margin-left: 42%;
}

h2{
  margin-top: 20%;
  margin-bottom: 5%;
  text-align: center;
}

#expbtn ,#exp input{
height: 50px;
margin-left: 10%;
margin-top: 0px;

}
#exp input{
  width: 77%;
   border: none;
   margin-bottom: 10px;
   background-color: rgb(232, 230, 230);
  }
#expbtn{
 width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 47px;
  color: aliceblue;
  background-color: black;
}

#Dt::placeholder{
  font-weight: 600;
  color: black;
}
.centre{
  border: 5px solid black;
  text-align: center;
}
